<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <button id="create-game">Start Game</button>
    <p id="identity" class="game"></p>
    <p id="score" class="game"></p>
    <button id="deal" class="game">Deal</button>
    <button id="deal" class="game">Refresh</button>
    <div class="game">
      <p id="player1" class="result">Player1: Winner!</p>
      <p id="p1Card" class="game card"></p>
      <p id="player2" class="result">Player2: Winner!</p>
      <p id="p2Card" class="game card"></p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/script.js"></script>
  </body>
</html>
